@font-face {
  font-family: Mona-Sans-Bold;
  src: url(/Mona-Sans-Bold.ttf);
}
@font-face {
  font-family: Mona-Sans-Regular;
  src: url(/Mona-Sans-Regular.ttf);
}
@font-face {
  font-family: Mona-Sans-SemiBold;
  src: url(/Mona-Sans-SemiBold.ttf);
}
@font-face{
  font-family: Mona-Sans-BoldItalic;
  src:url(/Mona-Sans-BoldItalic.ttf)
}

/* StackingCards.css */
.stacking-cards-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  

}

.stacking-card {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 300%; /* Adjust based on the number of cards */
}

.card {
  flex: 0 0 80%;
  margin-right: 10%;
  margin-left: 10%;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  
}
#card_id1{
  background-color: #9676FF;
}
#card_id2{
 background-color: #AB3088;
}
#card_id3{
  background-color: orange;
}



.stacking-cards-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f0f0f0;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;  
  font-size: 30px;
  font-weight: 400;
  border-radius: 50%;
 
}

.stacking-cards-container button:focus {
  outline: none;
}

.stacking-cards-container button:hover {
  background-color: rgba(0,0,0,0.5);
  color: #f6f6f6; 
} 

.stacking-cards-container button:first-of-type {
  left: 50px;
} 

.stacking-cards-container button:last-of-type {
  right: 50px;
}


.info-section {
  display: flex;
  justify-content: space-between;
  
  padding: 20px;
  width: 100%;
  color: #f0f0f0;
  font-family: "Mona-Sans-RegularWide";
}

.info-left {
  width: 45%;
  margin-left: 5%;
  margin-top: 2%;

}
.info-left img{
  height: 20px;
  width: 20px;
  margin-right: 20px;
}

.info-left h1 {
  font-size: 28px;  
  margin-bottom: 10%;
  font-weight: 200;
  font-family: Mona-Sans-Regular;
  line-height: 50px;
}


.project_span{
  font-weight: 600;
}

.info-left ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: -30%;
}

.info-left ul li {    
  position: relative;
  margin-bottom: 20px;
 
  font-size: 24px;
  font-family:Mona-Sans-BoldItalic ;
} 

.info-left ul li::before {
  
  position: absolute;
  left: 0;
  background-color: #f6f6f6;
  color: black;
  border-radius: 50%;
  
}


.info-left  button{ 
  padding: 20px 30px;
  font-size: 1rem;
  cursor: pointer;
  width: 30%;
  position: relative;
  border-radius: 20px;  
  background-color: white;
  color: black;

}
.info-left  button:hover{
  background-color: white;
  color: black;
}


.info-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.info-right img {
  width: 80%; 
  margin-right: 20%;
  height: 100%;
  border-right: none;
  border-radius: 20px;
}
#info_button_id{
  margin-bottom: 80px;
}
#info_right_2ndcard img{
  height: 80%;
  border-right: none;
}
